<%- include header.ejs %>

      <div class="container-fluid">

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-wrench"></span>
                <span class="fa fa-car"></span>
                Car Service Center
            </h1>
            <br>
            <a class="btn btn-success btn-xlg" href="/clients">
              <i class="fa fa-cog"></i> Add new order
            </a>
        </div>
    </div>
	</body>

</html>
